# JWT Secrets
ACCESS_TOKEN_SECRET=your_access_token_secret_here
REFRESH_TOKEN_SECRET=your_refresh_token_secret_here

# MongoDB Connection
MONGODB_URI=mongodb+srv://username:password@cluster0.example.mongodb.net/databaseName

# Email SMTP Configuration
SMTP_HOST=smtp.example.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=example@email.com
SMTP_PASS=example_email_password

# Random characters used for code generation
RANDOM_CHARACTERS=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789